<!-- Logos Section -->
<section class="py-12 bg-white">
  <div class="max-w-6xl mx-auto px-4 text-center">
    <p class="inline-block text-zinc-700 px-0 py-2 text-3xl font-bold mb-6">
      Confían en nosotros
    </p>
    <div class="flex flex-wrap justify-center gap-8 md:gap-16 items-center">
      <img
        src="/images/logo-company-vet1.webp"
        alt="Veterinaria Paws"
        class="h-28 opacity-80 rounded-3xl hover:contrast-125"
      />
      <img
        src="/images/logo-company-vet2.webp"
        alt="Clínica Animal Care"
        class="h-28 opacity-80 rounded-3xl hover:contrast-125"
      />
      <img
        src="/images/logo-company-vet3.webp"
        alt="Veterinaria Happy Pets"
        class="h-28 opacity-80 rounded-3xl hover:contrast-125"
      />
      <img
        src="/images/logo-company-vet4.webp"
        alt="Centro Veterinario San Rafael"
        class="h-28 opacity-80 rounded-3xl hover:contrast-125"
      />
      <img
        src="/images/logo-company-vet5.webp"
        alt="Centro Veterinario San Rafael"
        class="h-28 opacity-80 rounded-3xl hover:contrast-125"
      />
      <img
        src="/images/logo-company-vet6.webp"
        alt="Centro Veterinario San Rafael"
        class="h-28 opacity-80 rounded-3xl hover:contrast-125"
      />
    </div>
  </div>
</section>
